{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    {% if products %}
        <ul>
            {% for product in products %}
            <li>{{ product|e }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
